<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>check my trips</title>
    <% include ./partials/header %>
</head>

<body>


<div class="container" style="max-width: 55%; display: block;">
    <div class="main-box">
        <button type="button" class="btn btn-success" data-target="#myModal_new_trip" data-toggle="modal">New Trip
        </button>
        <h2>My Hosts</h2>
    </div>
    <div class="main-box" style="max-width: 100%; max-height: 100vh; overflow: scroll;">
        <% for (var i = 0; i < my_trips.length; i++) { %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <li id="my_tirp_list" class="expense"><label id="my_tirp_label"><span
                                class="cost">Expense:</span></label>$<%= my_trips[i].expense %> <font size="4">each</font></li>
                <li id="my_tirp_list"><label id="my_tirp_label">Start:</label><%= my_trips[i].start %></li>
                <li id="my_tirp_list"><label id="my_tirp_label">End:</label><%= my_trips[i].end %></li>
            </div>
            <div class="panel-body">
                <li id="my_tirp_list"><label id="my_tirp_label">Date:</label><%= my_trips[i].date %></li>
                <li id="my_tirp_list"><label id="my_tirp_label">Member:</label><%= my_trips[i].member %></li>
                <li id="my_tirp_list"><label id="my_tirp_label">Space Avaliable / Total
                        Space:</label><%= (my_trips[i].space_avaliable - my_trips[i].member.length) %>
                    / <%= my_trips[i].space_avaliable %></li>
                <li id="my_tirp_list" style="margin-bottom: 5px;"><label id="my_tirp_label">Note:</label><%= my_trips[i].note.slice(0, 480) %></li>
                <button type="button" class="btn btn-warning" data-target="#myModal_edit_trip<%= i %>"
                        data-toggle="modal">
                    Edit
                </button>
                <input name="_id" value="<%= my_trips[i]._id %>" style="display: none">
                <!--use post method to invoke delete method-->
                <form id="haha" method="post" action="/index/delete/<%= my_trips[i]._id %>"
                      style="display: inline-block;">
                    <input type="submit" id="del-btn" class="btn btn-danger" onclick="return confirm('Are you sure?')"
                           value="Delete"/>
                </form>
            </div>
            <!--edit trip Modal-->
            <div class="modal fade" id="myModal_edit_trip<%= i %>" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Edit Trips</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/index/edit_trips" method="POST">
                                <label>Departure:</label><input type="text" name="start"
                                                                placeholder="<%= my_trips[i].start %>"
                                                                readonly/><br>
                                <label>Destination:</label><input type="text" name="end"
                                                                  placeholder="<%= my_trips[i].end %>"
                                                                  readonly/><br>
                                <label>Date:</label><input type="text" name="date" value="<%= my_trips[i].date %>"
                                                           required="true"/><br>
                                <label>Expense:</label><input type="number" step="0.01" name="expense"
                                                              value="<%= my_trips[i].expense %>"
                                                              required="true"/><br>
                                <label>Total Space:</label><input type="number" name="total_space"
                                                                  value="<%= my_trips[i].space_avaliable %>"
                                                                  required="true"/><br>
                                <label>Note:</label><input type="text" name="note" value="<%= my_trips[i].note %>"/><br>
                                <label><input type="submit" class="btn btn-success" value="Submit"/></label>
                                <!--used to store id-->
                                <input name="_id" value="<%= my_trips[i]._id %>" style="display: none">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% } %>
    </div>
</div>
<script>
    function initMap() {
        var myoptions = {
            zoom: 10,
            center: {lat: 40.73, lng: -73.95},
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById('map2'), myoptions);
    }

    $(document).ready(function () {
        initMap();
    });
</script>
</body>
</html>